In [3]:
pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in c:\users\asus\appdata\roaming\python\python310\site-packages (0.1.84)
Requirement already satisfied: lxml>=4.5.1 in c:\users\asus\appdata\roaming\python\python310\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: pandas>=0.24.0 in c:\program files\python310\lib\site-packages (from yfinance) (1.4.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\asus\appdata\roaming\python\python310\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: numpy>=1.15 in c:\program files\python310\lib\site-packages (from yfinance) (1.22.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\asus\appdata\roaming\python\python310\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in c:\users\asus\appdata\roaming\python\python310\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python310\lib\site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\program files\python310\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\appdata\roaming\python\python310\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asus\appdata\roaming\python\python310\site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\appdata\roaming\python\python310\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\asus\appdata\roaming\python\python310\site-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: six>=1.5 in c:\program files\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import yfinance as yf
import numpy as np
import datetime
import sklearn
from datetime import date, timedelta
today = date.today()

In [4]:
d1 = today.strftime("%Y - %m - %d")
end_date = d1
d2 = date.today() - timedelta(days=5000)
start_date = d2

In [5]:
data = pd.read_csv("https://raw.githubusercontent.com/mwitiderrick/stockprice/master/NSE-TATAGLOBAL.csv")

In [6]:
data.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-09-28,234.05,235.95,230.20,233.50,233.75,3069914,7162.35
1,2018-09-27,234.55,236.80,231.10,233.80,233.25,5082859,11859.95
2,2018-09-26,240.00,240.00,232.50,235.00,234.25,2240909,5248.60
3,2018-09-25,233.30,236.75,232.00,236.25,236.10,2349368,5503.90
4,2018-09-24,233.55,239.20,230.75,234.00,233.30,3423509,7999.55

In [7]:
data.tail()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
2030,2010-07-27,117.6,119.50,112.00,118.80,118.65,586100,694.98
2031,2010-07-26,120.1,121.00,117.10,117.10,117.60,658440,780.01
2032,2010-07-23,121.8,121.95,120.25,120.35,120.65,281312,340.31
2033,2010-07-22,120.3,122.00,120.25,120.75,120.90,293312,355.17
2034,2010-07-21,122.1,123.00,121.05,121.10,121.55,658666,803.56

In [8]:
data.describe()

,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
count,2035.000000,2035.000000,2035.000000,2035.000000,2035.00000,2.035000e+03,2035.000000
mean,149.713735,151.992826,147.293931,149.474251,149.45027,2.335681e+06,3899.980565
std,48.664509,49.413109,47.931958,48.732570,48.71204,2.091778e+06,4570.767877
min,81.100000,82.800000,80.000000,81.000000,80.95000,3.961000e+04,37.040000
25%,120.025000,122.100000,118.300000,120.075000,120.05000,1.146444e+06,1427.460000
50%,141.500000,143.400000,139.600000,141.100000,141.25000,1.783456e+06,2512.030000
75%,157.175000,159.400000,155.150000,156.925000,156.90000,2.813594e+06,4539.015000
max,327.700000,328.750000,321.650000,325.950000,325.75000,2.919102e+07,55755.080000

In [9]:
data["Date"] = data.index
data = data[["Date" , "Open" , "High" , "Low" , "Close" , "Total Trade Quantity" , "Turnover (Lacs)"]]
data.reset_index(drop = True , inplace=True)
data.tail()

,Date,Open,High,Low,Close,Total Trade Quantity,Turnover (Lacs)
2030,2030,117.6,119.50,112.00,118.65,586100,694.98
2031,2031,120.1,121.00,117.10,117.60,658440,780.01
2032,2032,121.8,121.95,120.25,120.65,281312,340.31
2033,2033,120.3,122.00,120.25,120.90,293312,355.17
2034,2034,122.1,123.00,121.05,121.55,658666,803.56

In [10]:
# GRAPH REPRESENTATION
import plotly.graph_objects as go
figure = go.Figure(data=[go.Candlestick(x=data["Date"] , open=data["Open"] , high = data["High"] , low = data["Low"] , close = data["Close"] )])
figure.update_layout(title = "TATA GLOBAL Stock Price Analysis" , xaxis_rangeslider_visible = False)
figure.show()

ModuleNotFoundError: No module named 'plotly'

In [11]:
correlation = data.corr()
print(correlation["Close"].sort_values(ascending = False))

Close                   1.000000
High                    0.999194
Low                     0.999119
Open                    0.997840
Turnover (Lacs)         0.624213
Total Trade Quantity    0.398911
Date                   -0.694669
Name: Close, dtype: float64

In [12]:
# TRAINING LSTM FOR PREDICTION
x = data[["Open","High", "Low" , "Turnover (Lacs)"]]
y = data["Close"]
x = x.to_numpy()
y = y.to_numpy()
y = y.reshape(-1 , 1)

from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
# PREPARING NEURAL NETWORK FOR LSTM
from keras.models import Sequential
from keras.layers import Dense, LSTM
model = Sequential()
model.add(LSTM(128, return_sequences=True, input_shape= (xtrain.shape[1], 1)))
model.add(LSTM(64, return_sequences=False))
model.add(Dense(25))
model.add(Dense(1))
model.summary()

In [14]:
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(xtrain, ytrain, batch_size=1, epochs=30)

NameError: name 'model' is not defined

In [ ]:
import numpy as np
#features = [Open, High, Low, Total trade quantity , Turnover (Lacs)]
features = np.array([[177.089996, 180.419998, 177.070007, 74919600]])
model.predict(features)